body {
	background: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #646464;
	text-align: center;
}
/* Main wrapper */
#wrapper {
	text-align: left;
	width: 930px;
	margin: 0 auto;
}
/* Main container */
#containerHolder {
	background: #eee;
	padding: 5px;
	min-height:475px;
}
#container {
	background: #fff url(../img/content.gif) repeat-x left top;
	border: 1px solid #ddd;
	width: 918px;
	min-height:475px;
}


/* Flash error message */
.msg { position:relative; padding-right:35px; margin-bottom:10px; margin-left: 7px;
    margin-top: 7px; clear: both;}
.msg p{ padding:9px 10px 9px 40px; font-size:12px; background-repeat:no-repeat; background-position:10px 5px;}
.msg a.close{ font-size:0; line-height:0; position:absolute; top:0; right:0; width:34px; height:34px; background:url(../img/close.gif); text-indent: -4000px;}

.msg-ok p{ background-color:#fffac2; border:solid 1px #dbd6a2; color:#5e5c40; background-image:url(../img/msg-ok.gif); }
.msg-error p{ background-color:#f3c598; border:solid 1px #e8b084; color:#ba4c32; background-image:url(../img/msg-error.gif);  }


.clear{
	clear: both;
}

.cake-sql-log{
  clear: both;
  text-align: left;
  width: 100%;
}

/* Paggination Page */
.pagging { height:20px; padding:8px 10px; line-height:19px; color:#949494; }
.pagging a{ background:url(../img/pagging.gif) repeat-x 0 0; height:20px; float:left; padding:0 8px; border:solid 1px #d5d5d5; text-decoration: none; color:#949494; margin-left:5px;  }
.pagging a:hover { border-color:#8c3521; background:#ba4c32; color:#fff; }
.pagging span{ float:left; margin-left:5px; padding-top:2px; }

.pagging .current{
   border-color:#8c3521; background:#ba4c32; color:#fff;
   border: 1px solid red;
   float: left;
   height: 20px;
   margin-left: 5px;
   padding: 0 8px;
   text-decoration: none;
   margin-top: 3px;
   -moz-border-radius:3px; -webkit-border-radius:3px;
}

.left, .alignleft { float:left; display:inline; }
.right, .alignright { float:right; display:inline; }
/* Paggination Page */


/* SErver side validation error */
.error-message { color: red; font-weight: bold; clear: both; }
.viewlog { height:450px; width:500px; text-align:left; line-height:25px; overflow-y:auto; overflow-x: hidden;}
.sitedown {line-height:25px; width:400px; height:250px; text-align: left; }


/* Main content styling */
#main {
	width: 890px;
	float: right;
	padding: 0 19px 0 0;
}

h3 {
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	color: #5494af;
	padding: 0 0 0 10px;
	margin: 20px 0 10px;
}

.tbl_heading {
 color: #646464;
 text-decoration: none;
}

#main table {
	border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    width: 100%;
}

#main table tr td {
	background: #f6f6f6;
	padding: 0px 20px;
	height: 29px;
	line-height: 15px;
	border-bottom: 1px solid #ddd;
}

table tr th {
    background: none repeat scroll 0 0 #C0C0C0;
    border-bottom: 1px solid #DDDDDD;
    height: 29px;
    line-height: 29px;
    padding: 0 20px;
}

#main table tr.odd td {
	background: #fbfbfb;
}

#main table tr:hover td { background: #fdfcf6; }

#main table .action {
	text-align: right;
	padding: 0 20px 0 10px;
}

#main table tr .action a { margin: 0 0 0 10px; text-decoration: none; color: #9b9b9b; }


/* Reset the main content styling	*/
.search_tbl table {
	border: 0px  !important;
	width: 100% !important;
}

.search_tbl table tr td {
	padding: 0px !important;
	height: 29px !important;
	line-height: 29px !important;
	background: none !important;
	border-bottom: 0px !important;	
}

.search_tbl table tr th {
    background: none repeat scroll 0 0 #C0C0C0  !important;
    height: 29px !important;
    line-height: 29px !important;
    padding: 0 !important;
}